{% extends 'guide/base.html' %}

    {% block content %}
    <div id='about_div'>
        <div id='about_title_div'>    
            <h2 id='about_title'>About San Diego Nature Journal</h2>
        </div>
        <div id='about_text_div'>
            <br />
            <p class='about_text'>This is my personal journal of plants that I come across going on walks in San Diego. I hope to make it comprehensive enough at some point that it could be useful to others trying to identify plants that they come across as well, but it's a work in progress.</p>
            <br />
            <p class='about_text'>I'm not trying to set myself up as a plant expert, so please be aware that most of the info I give for plants (other than what I clearly state as personal opinion or experience) is from Wikipedia, or a few other sources that I cite at the time of use. The picture are either mine or by friends, with appropriate credit given in the alt-text of the images. You also may be able to see some quality difference, as I take my photos with my phone, and I have friends who are actually photographers! I'm not claiming high art here, but I try my best for a non-blurry shot.</p>
            <br />
            <p class='about_text'>I hope to keep improving the site, so keep an eye out for new plants, and new functions to the website!</p>
        </div>
    </div>
    
    <br /><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        {% endblock %}