{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/guide.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <title>Plants and Animals of the San Diego Canyons</title>
    </head>
    <body>
        <div id="body">
            <div id='banner' class="banner">
                <h1 class='banner'><a class = 'banner' href='https://sandiegonaturejournal.pythonanywhere.com'>A Journey Through the Canyons and Trails</a></h1>
                <h3 class='banner'>Documenting the plant and animal life in San Diego</h3>
                <p id='credits'>plant information from <a href='https//www.wikipedia.org>Wikipedia'>Wikipedia</a>, photos by Plover Brown.</p>
                <div class='clear_div'></div>
            </div>
            <div class='nav_div'>
            <nav role='navigation'>
                <ul class='nav_bar_list'>
                    <li id='far_left_list_item' class='navli'><a href='#'>Home</a></li>
                    <li class='navli'><a href='#'>About</a></li>
                    <li class='navli'><a href='#'>Search</a></li>
                    <li class='navli'><a href='#'>Contact</a></li>
                    <li id='dropdown_item' class='navli'>
                        <a href='javascript:void(0)' class='dropbtn'>Plants</a>
                        <ul>
                            <li class='navli'><a href='#'>Native</a></li>
                            <li class='navli'><a href='#'>Non-Native</a></li>
                            <li class='navli'><a href='#'>Invasive</a></li>
                        </ul>                 
                    </li>
                    <li class='end_li'></li>
                </ul>
            </nav>
            </div>
            <div class='clear_div'></div>
            <div id='sub_body'>
                {% block content %}
                    
                {% endblock %}
            </div>
        </div>
    </body>   
</html>
