{% extends 'guide/base.html' %}

    {% block content %}
    <div id='contact_title_div'>
        <br /><br /><br />
        <h2>Please contact me here!</h2>
    </div>

    <div id='contact_form_div'>
        <form role='form' action="" method="post">
            {% csrf_token %}
            <div>
                <br /><br /><br />
                <p>Your Name: <span class='form_field'>{{ form.contact_name }}</span></p>
                <br />
                <p> Your Email: <span class='form_field'>{{ form.contact_email }}</span></p>
                <br /><br />
                <h5>What's on your mind?</h5>
                <p><span class='form_field'>{{ form.content }}</span></p>
            </div>
            <button type='submit'>Submit</button>
        </form>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
    {% endblock %}