{% extends 'guide/base.html' %}

{% block content %}
<div id='catalogue'>
    <div id='non_native_div'>
        <div class='non_native_plant_title'>
            <h2 class='non_native_plant_title'>Non-native Plants</h2>
        </div class='garden_plot'>
        {% for plant in non_native_plants %}
            <div class='garden'>
                <div class='garden_marker'>
                    <h3 class='garden_marker'><a href="{% url 'plant_detail' slug=plant.slug %}">{{ plant.name }}</a></h3>
                    <p class='info'>Latin name: {{ plant.genus }} {{ plant.species }}</p>
                </div>
                <div class='garden_marker'>
                    <a href="{% url 'plant_detail' slug=plant.slug %}"><img class='thumbnail' src='{{ plant.image_flower }}' title='{{ plant.image_whole_title }}' height = '100px'></a>
                    <h3 class='subject'>Description:</h3>
                    <p class='short'>{{ plant.description }}</p>
                </div>
            </div>
            <br />
        {% endfor %}
    </div>


    <div id='native_div'>
        <div class='native_plant_title'>
            <h2 class='native_plant_title'>Native Plants</h2>
        </div>
        {% for plant in native_plants %}
            <div class='garden_mid'>
                <div class='garden_marker_mid'>
                    <h3 class='garden_marker_mid'><a href="{% url 'plant_detail' slug=plant.slug %}">{{ plant.name }}</a></h3>
                    <p class='info_mid'>Latin name: {{ plant.genus }} {{ plant.species }}</p>
                </div>
                <div class='garden_marker_mid'>
                    <a href="{% url 'plant_detail' slug=plant.slug %}"><img class='thumbnail' src='{{ plant.image_flower }}' title='{{ plant.image_whole_title }}' height = '100px'></a>
                    <h3 class='subject_mid'>Description:</h3>
                    <p class='short_mid'>{{ plant.description }}</p>
                </div>
            </div>
            <br />
        {% endfor %}
    </div>

    <div id='invasive_div'>
        <div class='invasive_plant_title'>
            <h2 class='invasive_plant_title'>Invasive Plants</h2>
        </div>
        {% for plant in invasive_plants %}
            <div class='garden'>
                <div class='garden_marker'>
                    <h3 class='garden_marker'><a href="{% url 'plant_detail' slug=plant.slug %}">{{ plant.name }}</a></h3>
                    <p class='info'>Latin name: {{ plant.genus }} {{ plant.species }}</p>
                </div>
                <div class='garden_marker'>
                    <a href="{% url 'plant_detail' slug=plant.slug %}"><img class='thumbnail' src='{{ plant.image_flower }}' title='{{ plant.image_whole_title }}' height = '100px'></a>
                    <h3 class='subject'>Description:</h3>
                    <p class='short'>{{ plant.description }}</p>
                </div>
            </div>
            <br />
        {% endfor %}
    </div>
    <div class='clear_div'></div>
</div>
{% endblock %}