/** whole page **/

* {
    background-color: rgb(218, 196, 125);
    color: rgb(92, 60, 18);
    max-width: 960px;
    margin: 0 auto;

}

body {
    background-color: rgb(218, 196, 125);
    color: rgb(92, 60, 18);
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
/** titles and banners **/

#banner {
    margin-top: 0px;
    margin-bottom: 30px;
    background-image: url(https://i.postimg.cc/PxNtGmtc/background.jpg);
    background-size: 960px;
    padding-bottom: 20px;
}

.banner {
    background-color: rgba(0,0,0,0);
    color: rgb(92, 60, 18);
}

#credits {
    float: right;
    font-size: x-small;
    margin-right: 100px;
}

/** clear floats **/

.clear_div {
    clear: both;
}















/**Nav Bar**/

#far_left_list_item {
    border-radius: 10px 0px 0px 10px;
}

.nav_div {
    background-color: rgb(53, 32, 6);

}
ul li a {
    text-decoration: none;
    color: white;

}

ul li a:hover {
    color: white;
}

ul {
    background: rgb(53, 32, 6);
    list-style: none;
    margin: 0;
    padding-left: 0;
}


.navli {
    color: white;
    background-color: rgb(53, 32, 6);
    float:left;
    width: 12%;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}

.navli_under {
    color: white;
    background-color: rgb(53, 32, 6);
    float:left;
    width: 116px;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}


.navli:hover {
    background: rgb(155, 108, 50);
    cursor: pointer;
}

ul li ul {
    background-color: rgb(53, 32, 6);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100px;
}

.end_li {
    width: 30%; 
    height:40px;
    color: white;
    background-color: rgb(53, 32, 6);
    float:left;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;

 }
 
.search_li {
    background-color: rgb(53, 32, 6);
    float:right;
    display: block;
    padding: 1rem;
    width: 22%;
    position: relative;
    border-radius: 0px 10px 10px 0px;
}

#search_box {
    float: left;
    padding: 0;
    width: 160px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

#search_button {
    float: right;
    background-color: rgb(53, 32, 6);
    width: 20px;
    border: none;
    cursor: pointer;
    box-shadow: none;
    font-family: inherit;
    border-style: none;
    margin-right: 8px;

    
}

#search_image {
    width: 18px;
}














/** MAIN PAGE **/

#catalogue {
    background-color: khaki;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.garden {
    width: 294px;
    border-style: groove;
    border-width: 2px;
    border-color: rgb(92, 60, 18);
    border-radius: 40px;
    padding: 8px;
    background-color: khaki;
}

.garden_marker {
    background-color: khaki;
}

.thumbnail {
    margin-top: 10px;
    background-color: khaki;
}

.short {
    margin:0px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    background-color: khaki;
}

.info, .subject {
    margin: 0px;
    background-color: khaki;
}


.garden_mid {
    width: 294px;
    border-style: groove;
    border-width: 2px;
    border-color: rgb(92, 60, 18);
    border-radius: 40px;
    padding: 8px;
    background-color: rgb(243, 236, 171);
}

.garden_marker_mid {
    background-color: rgb(243, 236, 171);
}

.thumbnail_mid {
    margin-top: 10px;
    background-color: rgb(243, 236, 171);
}

.short_mid {
    margin:0px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    background-color: rgb(243, 236, 171);
}

.info_mid, .subject_mid {
    margin: 0px;
    background-color: rgb(243, 236, 171);
}





/** plant summaries by group **/

/** titles **/

.non_native_plant_title {
    background-color: khaki;
    /** title banner source: <a href="https://www.freepik.com/free-photos-vectors/flower">Flower vector created by freepik - www.freepik.com</a> **/
}

.native_plant_title {
    background-color: rgba(243, 236, 171, 0);

}

.invasive_plant_title {
    background-color: khaki;
}

/** plant category style **/

#non_native_div /**left**/{
    width: 310px;
    float: left;
    margin-left: 15px;
    background-color: khaki;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#native_div /**center**/{
    width: 310px;
    float: left;
    background-color: rgb(243, 236, 171);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#invasive_div /**right**/{
    width: 310;
    float: left;
    background-color: khaki;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/** sub-element background colors **/

#non_native_div > div, #non_native_div > p, #non_native_div > h3, #non_native_div > img {
    background-color: khaki;
}

#native_div > div, #native_div > p, #native_div > h3, #native_div > img {
    background-color: rgba(243, 236, 171, 0);
}

#invasive_div > div, #invasive_div > p, #invasive_div > h3, #invasive_div > img {
    background-color: khaki;
}





















/** PLANT DETAIL PAGE **/

.detail_div {
    background-image: url(https://i.postimg.cc/ZYXb9bzd/garden-markers.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
    margin-top: 30px;
}

.detail_title {
    padding-bottom: 20px;
    width: 320px;
    font-family: cursive;
    background-color: rgba(240, 230, 140, 0);
}

.detail_image_div {
    width: 450px;
    float: left;
    margin-bottom: 25px;
}

#detail_image {
    width: 400px;
}

.detail_text_div {
    width: 510px;
    float: left;
    padding-left: 15px;
}

.detail_names {
    width: 225px;
    text-align: left;
}

#between_text {
    width: 35%;
}


















/** ABOUT PAGE **/

#about_title_div {
    margin: 30px;
    border-style: groove;
    border-color: rgb(92, 60, 18);
    border-radius: 15px;
    padding-bottom: 10px;
    width: 500px;
    margin-left: 230px;
}

#about_text_div {
    width: 600px;
    margin-left: 180px;
}















/** CONTACT PAGE **/
